# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Operating Systems
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Project specific folders
/00000/
/data/
/log/
/results/

# Specific files

# Add any project-specific files or directories you want to ignore